.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
/*.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}*/
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

.logo
{
  font-family: 'Satisfy', cursive;
  font-size: 50px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  /*.header {
    margin-bottom: 30px;
  }*/
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
  .margin20 {
    margin-top: 20px;
  }
  .animate-enter, 
  .animate-leave
  {
      transition: 300ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  } 
   
  .animate-enter {
      left: 100%;
  }
  .animate-enter.animate-enter-active {
      left: 0;
  }
   
  .animate-leave {
      left: 0;
  }  
}

.imagefit {
    width: 100%;

  }

.margin-top-40 {
  margin-top: 40px;
}

.margin-top-80 {
  margin-top: 80px;
}

.padding-top-40
{
  padding-top: 40px;
}

.padding-top-80
{
  padding-top: 80px;
}


.margin-bottom-20
{
  margin-bottom: 20px;
}

.margin-bottom-40
{
  margin-bottom: 40px;
}

.padding-bottom-40
{
  padding-bottom: 40px;
}

.padding-bottom-20
{
  padding-bottom: 20px;
}

.padding-rigth-10
{
  padding-right: 10px
}

.padding-left-10
{
  padding-left: 10px
}

.round
{
  border-radius: 50%;  
}

.background-color-gray
{
  background-color: #cccccc;
}

.padding-0 {
    padding: 0;
}

.portfolio_description {
    position:absolute;
    width:100%;
    top:85%;
}

.btn-on-img {
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(200, 200, 200, 0.5);
  border: none;
  font-weight: bold;
}

body {
  padding-top: 70px;
}
@media (max-width: 979px) {
 /* body {
    padding-top: 0px;
  }*/
}

.navbar-nav > li > a {padding-top:15px !important; padding-bottom:15px !important;}
.navbar {
  min-height: 70px !important;
  padding-top: 10px;
  }

.border-solid
{
  border: solid;
}

.border-radius-10
{
  border-radius: 10px;
}

.border-width-1
{
  border-width: 1px;
}

.font-size-50{
  font-size: 50px;
}

.font-size-100{
  font-size: 100px;
}

.color-white
{
  color: white !important;
}

.max-width-300
{
  max-width: 300px;
}

.on-img-title
{
    position:absolute;
    font-size: 65px;
    background-color: rgba(200, 200, 200, 0.5);
    /*opacity: 0.4;
    filter: alpha(opacity=40);*/
}

.on-img-title a
{
  color: #ca1010 !important;
}

.on-img-title a:hover{
    text-decoration: none;
}

.title-img-1
{
    top:55%;
    left:15%;
}