<div class="row">
    <div class="col-md-6 col-md-offset-3" >
        <div class="row">
            <div class="col-sm-12">
                <br/><br/>
                {{"about_text" | translate}}
                <a class="gray-link" href="http://mood.musiclab.si">{{"about_link" | translate}}</a>.
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h1> Kdo smo?</h1>
                <br/>                
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../assets/images/matevz.png" alt="matevz" class="photo"/>
                    </div>
                    <div class="col-sm-8">
                        <h4>Matevž Pesek</h4>
                        {{"matevz_prej" | translate}}
                        (<a class="gray-link" href=\"http://musiclab.si\">{{"matevz_link" | translate}}</a>).
                        {{"matevz_potem" | translate}}
                    </div>               
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../assets/images/manca.jpg" alt="manca" class="photo"/>
                    </div>
                    <div class="col-sm-8">
                        <h4>Manca Žerovnik</h4> 
                        {{"manca" | translate}} 
                    </div>               
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../assets/images/primoz.png" alt="primoz" class="photo"/>
                    </div>
                    <div class="col-sm-8">
                        <h4>Primož Godec</h4> 
                        {{"primoz" | translate}}
                    </div>               
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../assets/images/gregor.png" alt="gregor" class="photo"/>
                    </div>
                    <div class="col-sm-8">
                        <h4>Gregor Strle</h4> 
                        {{"grega" | translate}}
                    </div>               
                </div>
                <br/>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="../assets/images/matija.png" alt="matija" class="photo"/>
                    </div>
                    <div class="col-sm-8">
                        <h4>Matija Marolt</h4> 
                        {{"matic" | translate}}
                    </div>               
                </div>
                <br/>
            </div>
        </div>

        
    </div>
</div>
