<div class="jumbotron">
  <p> Tukaj se menjavajo vsebine. </p>
</div>
<div>
<div class="row">
            <a ng-href="#/splosno"><button type="button" class="btn btn-default btn-block">Splošni podatki</button></a>
            <a ng-href="#/razpolozenjeinbarve"><button type="button" class="btn btn-default btn-block">Razploženje in barve</button></a>
            <a ng-href="#/razplozenjeinglasba"><button type="button" class="btn btn-default btn-block">Vizualizacija glasbe in razpoloženja</button></a>
</div>
</div>
