<div class="row margin-top-40 padding-left-10 padding-rigth-10">    
    <div class="col-md-2 border-solid border-radius-10 padding-bottom-20 border-width-1">
        <h3 class="margin-bottom-40">Predvajaj</h3>
        <audio controls>
          <source src="" type="audio/mpeg">
        </audio>

        <h3 class="margin-bottom-40 margin-top-40">Filtri</h3>

        <p> Skladba </p>
        <select name="singleSelect" ng-model="filter.song" ng-change="update()" class="form-control">   
            <option ng-repeat="song in songs" value="{{song}}" >{{song}}</option>       
        </select><br><br>
        

        <p> Spol </p>
        <input type="checkbox" ng-model="filter.male" ng-change="update()" /> Moški<br/>
        <input type="checkbox" ng-model="filter.female"  ng-change="update()" /> Ženski<br/><br/>

        <p> Starost [{{filter.agemin}} let - {{filter.agemax}} let]: </p>
        <div on-handle-up='update()' range-slider id="age" min="0" max="100" model-min="filter.agemin" model-max="filter.agemax"></div>

        <p> Kraj bivanja </p>
        <input type="checkbox" name="linigPlace" ng-model="filter.city" ng-change="update()"> Mesto<br/>
        <input type="checkbox" name="linigPlace" ng-model="filter.domestic" ng-change="update()"> Podezelje<br/><br/>

        <p> Glasbena šola [{{filter.schoolmin}} let - {{filter.schoolmax}} let]:  </p>
        <div id="music_school" on-handle-up='update()' range-slider min="0" max="20" model-min="filter.schoolmin" model-max="filter.schoolmax"></div>


        <p> Ukvarjanje z glasbo [{{filter.activeinmusicmin}} let - {{filter.activeinmusicmax}} let]: </p>
        <div id="involvement_in_music" on-handle-up='update()' range-slider min="0" max="20" model-min="filter.activeinmusicmin" model-max="filter.activeinmusicmax"></div>


        <p> Poslušanje glasbe </p>
        <input type="checkbox" name="listening" value="1" ng-model="filter.onehour" ng-change="update()" /> do 1h<br/>
        <input type="checkbox" name="listening" value="2" ng-model="filter.twohour" ng-change="update()"/> do 2h<br/>
        <input type="checkbox" name="listening" value="3" ng-model="filter.threehour" ng-change="update()"/> do 3h<br/>
        <input type="checkbox" name="listening" value="4" ng-model="filter.fourhour" ng-change="update()"/> več kot 3h

    </div>
    <div class="col-md-10" >
        <div class="row">
            <div class="col-md-6 text-center">
                <h3 class="margin-bottom-40">Izražena razpoloženja v glasbi</h3> 
                <nvd3 options="viCustvaGraph" data="izrazenaData"></nvd3>
            </div>
            <div class="col-md-6 text-center">
                <h3 class="margin-bottom-40">Razpolozenja, ki jih glasba vzbudi</h3> 
                <nvd3 options="viCustvaGraph" data="vzbujenaData"></nvd3>            
            </div>
        </div>
    </div>
</div>