<div class="row">
    <div class="col-md-3" ng-contorller="cont1">
        <p> Spol </p>
        <input type="checkbox" name="sex" value="male"> Moški<br/>
        <input type="checkbox" name="sex" value="female"> Ženski<br/><br/>

        <p> Starost </p>
        <input id="age" type="text" class="span2" value="" data-slider-min="5" data-slider-max="100" data-slider-step="1" data-slider-value="[5,100]"/>
        <br/><br/>

        <p> Kraj bivanja </p>
        <input type="checkbox" name="linigPlace" value="city"> Mesto<br/>
        <input type="checkbox" name="linigPlace" value="domestic"> Podezelje<br/><br/>

        <p> Glasbena šola </p>
        <input id="music_school" type="text" class="span2" value="" data-slider-min="5" data-slider-max="20" data-slider-step="1" data-slider-value="[5,20]"/>
        <br/><br/>

        <p> Ukvarjanje z glasbo </p>
        <input id="involvement_in_music" type="text" class="span2" value="" data-slider-min="5" data-slider-max="20" data-slider-step="1" data-slider-value="[5,20]"/>
        <br/><br/>

        <p> Poslušanje glasbe </p>
        <input type="checkbox" name="listening" value="1"> do 1h<br/>
        <input type="checkbox" name="listening" value="2"> do 2h<br/>
        <input type="checkbox" name="listening" value="3"> do 3h<br/>
        <input type="checkbox" name="listening" value="4"> več kot 3h<br/><br/>

    </div>
    <div class="col-md-9">

    </div>
</div>
