
<div class="row margin-top-40 padding-left-10 padding-rigth-10">    
    <div class="col-md-2 border-solid border-radius-10 padding-bottom-20 border-width-1">
        


        <p class="margin-bottom-5 margin-top-15 bold"> Skladba: </p>
        <select name="singleSelect" ng-model="filter.song" ng-change="update()" class="form-control">   
            <option ng-repeat="song in songs" value="{{song}}" >{{song}}</option>       
        </select>

        <p class="margin-bottom-5 margin-top-15 bold"> Spol: </p>
        <input type="checkbox" ng-model="filter.male" ng-change="update()" /> Moški
        <input type="checkbox" ng-model="filter.female"  ng-change="update()" /> Ženski<br/>

        <p class="margin-bottom-5 margin-top-15 bold"> Starost [{{filter.agemin}} - {{filter.agemax}}] let: </p>
        <div on-handle-up='update()' range-slider id="age" min="0" max="100" model-min="filter.agemin" model-max="filter.agemax" class="margin-top-bottom-5"></div>

        <p class="margin-bottom-5 margin-top-15 bold"> Kraj bivanja: </p>
        <input type="checkbox" name="linigPlace" ng-model="filter.city" ng-change="update()"> Mesto
        <input type="checkbox" name="linigPlace" ng-model="filter.domestic" ng-change="update()"> Podezelje

        <p class="margin-bottom-5 margin-top-15 bold"> Glasbena šola [{{filter.schoolmin}} - {{filter.schoolmax}}] let:  </p>
        <div id="music_school" on-handle-up='update()' range-slider min="0" max="20" model-min="filter.schoolmin" model-max="filter.schoolmax" class="margin-top-bottom-5"></div>


        <p class="margin-bottom-5 margin-top-15 bold"> Ukvarjanje z gl. [{{filter.activeinmusicmin}} - {{filter.activeinmusicmax}}] let: </p>
        <div id="involvement_in_music" on-handle-up='update()' range-slider min="0" max="20" model-min="filter.activeinmusicmin" model-max="filter.activeinmusicmax" class="margin-top-bottom-5"></div>


        <p class="margin-bottom-5 margin-top-15 bold"> Poslušanje glasbe:</p>
        <input type="checkbox" name="listening" value="1" ng-model="filter.onehour" ng-change="update()"> do 1h </input>
        <input type="checkbox" name="listening" value="2" ng-model="filter.twohour" ng-change="update()"> do 2h </input> </br>
        <input type="checkbox" name="listening" value="3" ng-model="filter.threehour" ng-change="update()"> do 3h</input>
        <input type="checkbox" name="listening" value="4" ng-model="filter.fourhour" ng-change="update()"> več kot 3h  </input>

        <!-- users current mood -->
        <p class="margin-bottom-5 margin-top-15 bold">Trenutno razpoloženje:</p>
        <p class="margin-bottom-5 margin-top-15">Valence: </p>
        <div id="current_mood_valence" on-handle-up='update()' range-slider min="-1" max="1" model-min="filter.moodValenceMin" model-max="filter.moodValenceMax" class="margin-top-bottom-5"></div>
        <p class="margin-bottom-5 margin-top-15">Arousal: </p>
        <div id="current_mood_arousal" on-handle-up='update()' range-slider min="-1" max="1" model-min="filter.moodArousalMin" model-max="filter.moodArousalMax" class="margin-top-bottom-5"></div>

    </div>
    <div class="col-md-10" ng-init="tab0=true; tab1=false; tab2=false; tab3=false; tab4=false">
        
        <ul class="nav nav-pills">
        <li ng-class="{'active' : tab0, 'non-active': !tab0}" ng-click="tab0 = !tab0"><a href="">Predvajalnik</a></li>
          <li ng-class="{'active' : tab1, 'non-active': !tab1}" ng-click="tab1 = !tab1"><a href="">Vizualizacija</a></li>
          <li ng-class="{'active' : tab2, 'non-active': !tab2}" ng-click="tab2 = !tab2" ><a href="">Barve, ki predstavljajo skladbo</a></li>
          <li ng-class="{'active' : tab3, 'non-active': !tab3}" ng-click="tab3 = !tab3"><a href="">Izražena razpoloženja v skladbi</a></li>
          <li ng-class="{'active' : tab4, 'non-active': !tab4}" ng-click="tab4 = !tab4"><a href="">Razpoloženja, ki jih skladba vzbudi</a></li>
          <li ng-class="{'active' : tab5, 'non-active': !tab5}" ng-click="tab5 = !tab5"><a href="">Lastnosti</a></li>
          <li ng-class="{'active' : tab6, 'non-active': !tab6}" ng-click="tab6 = !tab6"><a href="">Izražena razpoloženja in barve</a></li>
          <li ng-class="{'active' : tab7, 'non-active': !tab7}" ng-click="tab7 = !tab7"><a href="">Vzbujena razpoloženja in barve</a></li>
        </ul>
        

        <div class="row" >
            <div class="col-md-12 margin-top-15" ng-if="tab0">
                <audio controls >
                    <source src="" type="audio/mpeg">
                </audio>          
            </div>
            <div class="col-md-12 margin-top-15" ng-if="tab1">
                <nvd3 options="ampLineGraph" data="amplitudeData" class="margin-padding-none"></nvd3>
            </div>
            <div class="col-md-12 text-center margin-padding-none" ng-if="tab2">
                <!--<h3 class="margin-bottom-40">Barva ki najbolje predstavlja glasbo</h3> -->
                <nvd3 options="coloGraph" data="colorData" class="margin-padding-none"></nvd3>            
            </div>
            <div class="col-md-6 text-center margin-top-15" ng-if="tab3">
                <!--<h3 class="margin-bottom-40">Izražena razpoloženja v glasbi</h3> -->
                <nvd3 options="viCustvaGraph" data="izrazenaData" class="margin-padding-none"></nvd3>
            </div>
            <div class="col-md-6 text-center margin-top-15" ng-if="tab4">
                <!--<h3 class="margin-bottom-40">Razpolozenja, ki jih glasba vzbudi</h3> -->
                <nvd3 options="viCustvaGraph" data="vzbujenaData" class="margin-padding-none"></nvd3>            
            </div>

            <div class="col-md-6 margin-top-30" ng-if="tab5">
                <div class="row">
                  <div class="col-xs-2"> <strong>Žanr </strong>  </div>
                  <div class="col-xs-10">
                    <div class="progress">
                      <div class="progress-bar progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                        <span>{{currentSongData.zanr}}</span>
                      </div>
                    </div>
                  </div>
                </div>                
                <div class="row">
                  <div class="col-xs-2"> <strong>Ritem </strong></div>
                  <div class="col-xs-10">
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{currentSongData.ritem / 7 * 100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{currentSongData.ritem / 7 * 100}}%">
                        <span>{{currentSongData.ritem}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2"> <strong>Tempo </strong> </div>
                  <div class="col-xs-10">
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{currentSongData.tempo / 7 * 100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{currentSongData.tempo / 7 * 100}}%">
                        <span>{{currentSongData.tempo}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2"> <strong>Melodničnost </strong> </div>
                  <div class="col-xs-10">
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{currentSongData.melodicnost / 7 * 100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{currentSongData.melodicnost / 7 * 100}}%">
                        <span>{{currentSongData.melodicnost}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2"> <strong>Dinamika </strong> </div>
                  <div class="col-xs-10">
                    <div class="progress">
                      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{currentSongData.dinamika / 7 * 100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{currentSongData.dinamika / 7 * 100}}%">
                        <span>{{currentSongData.dinamika}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2"> <strong>BPM </strong> </div>
                  <div class="col-xs-10">
                    <div class="progress">
                      <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span>{{currentSongData.BPM}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2"> <strong>Mode </strong></div>
                  <div class="col-xs-10">
                    <div class="progress">
                      <div class="progress-bar {{isnumber(currentSongData.mode) ? 'progress-bar-success' : 'progress-bar-danger'}}" role="progressbar" aria-valuenow="{{isnumber(currentSongData.mode) ? (currentSongData.mode / 7 * 100) : 100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{isnumber(currentSongData.mode) ? (currentSongData.mode / 7 * 100) : 100}}%">
                        <span>{{currentSongData.mode}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2"> <strong>Harmonična kompleksnost </strong></div>
                  <div class="col-xs-10">
                    <div class="progress">
                      <div class="progress-bar {{isnumber(currentSongData.harmonicna_kompleksnost) ? 'progress-bar-success' : 'progress-bar-danger'}}" role="progressbar" aria-valuenow="{{isnumber(currentSongData.harmonicna_kompleksnost) ? (currentSongData.harmonicna_kompleksnost / 7 * 100) : 100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{isnumber(currentSongData.harmonicna_kompleksnost) ? (currentSongData.harmonicna_kompleksnost / 7 * 100) : 100}}%">
                        <span>{{currentSongData.harmonicna_kompleksnost}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2"> <strong>Konzonantnost </strong> </div>
                  <div class="col-xs-10">
                    <div class="progress">
                      <div class="progress-bar {{isnumber(currentSongData.konzonantnost) ? 'progress-bar-success' : 'progress-bar-danger'}}" role="progressbar" aria-valuenow="{{isnumber(currentSongData.konzonantnost) ? (currentSongData.konzonantnost / 7 * 100) : 100}}" aria-valuemin="0" aria-valuemax="100" style="width: {{isnumber(currentSongData.konzonantnost) ? (currentSongData.konzonantnost / 7 * 100) : 100}}%">
                        <span>{{currentSongData.konzonantnost}}</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-2"> <strong>Metrum </strong> </div>
                  <div class="col-xs-10">
                    <div class="progress">
                      <div class="progress-bar progress-bar progress-bar-info" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                        <span>{{currentSongData.metrum}}</span>
                      </div>
                    </div>
                  </div>
                </div>                
            </div>
            <div class="col-md-6 margin-top-15" ng-if="tab6">
                  <nvd3 options="expresedMoodVAwithColorsGraph" data="expresedMoodVAwithColorsData" class="margin-padding-none"></nvd3>
            </div>
            <div class="col-md-6 margin-top-15" ng-if="tab7">
                <nvd3 options="inducedMoodVAwithColorsGraph" data="inducedMoodVAwithColorsData" class="margin-padding-none"></nvd3>
            </div>       
        </div>
    </div>
</div>