
<div class="row margin-top-40 padding-left-10 padding-rigth-10">    
    <div class="col-md-2 border-solid border-radius-10 padding-bottom-20 border-width-1">
        


        <p class="margin-bottom-5 margin-top-15 bold"> Skladba: </p>
        <select name="singleSelect" ng-model="filter.song" ng-change="update()" class="form-control">   
            <option ng-repeat="song in songs" value="{{song}}" >{{song}}</option>       
        </select>

        <p class="margin-bottom-5 margin-top-15 bold"> Spol: </p>
        <input type="checkbox" ng-model="filter.male" ng-change="update()" /> Moški
        <input type="checkbox" ng-model="filter.female"  ng-change="update()" /> Ženski<br/>

        <p class="margin-bottom-5 margin-top-15 bold"> Starost [{{filter.agemin}} - {{filter.agemax}}] let: </p>
        <div on-handle-up='update()' range-slider id="age" min="0" max="100" model-min="filter.agemin" model-max="filter.agemax" class="margin-top-bottom-5"></div>

        <p class="margin-bottom-5 margin-top-15 bold"> Kraj bivanja: </p>
        <input type="checkbox" name="linigPlace" ng-model="filter.city" ng-change="update()"> Mesto
        <input type="checkbox" name="linigPlace" ng-model="filter.domestic" ng-change="update()"> Podezelje

        <p class="margin-bottom-5 margin-top-15 bold"> Glasbena šola [{{filter.schoolmin}} - {{filter.schoolmax}}] let:  </p>
        <div id="music_school" on-handle-up='update()' range-slider min="0" max="20" model-min="filter.schoolmin" model-max="filter.schoolmax" class="margin-top-bottom-5"></div>


        <p class="margin-bottom-5 margin-top-15 bold"> Ukvarjanje z gl. [{{filter.activeinmusicmin}} - {{filter.activeinmusicmax}}] let: </p>
        <div id="involvement_in_music" on-handle-up='update()' range-slider min="0" max="20" model-min="filter.activeinmusicmin" model-max="filter.activeinmusicmax" class="margin-top-bottom-5"></div>


        <p class="margin-bottom-5 margin-top-15 bold"> Poslušanje glasbe:</p>
        <input type="checkbox" name="listening" value="1" ng-model="filter.onehour" ng-change="update()"> do 1h </input>
        <input type="checkbox" name="listening" value="2" ng-model="filter.twohour" ng-change="update()"> do 2h </input> </br>
        <input type="checkbox" name="listening" value="3" ng-model="filter.threehour" ng-change="update()"> do 3h</input>
        <input type="checkbox" name="listening" value="4" ng-model="filter.fourhour" ng-change="update()"> več kot 3h  </input>

    </div>
    <div class="col-md-10" ng-init="tab0=true; tab1=false; tab2=false; tab3=false; tab4=false">
        
        <ul class="nav nav-pills">
        <li ng-class="{'active' : tab0, 'non-active': !tab0}" ng-click="tab0 = !tab0"><a href="">Predvajalnik skladbe</a></li>
          <li ng-class="{'active' : tab1, 'non-active': !tab1}" ng-click="tab1 = !tab1"><a href="">Vizualizacija skladbe</a></li>
          <li ng-class="{'active' : tab2, 'non-active': !tab2}" ng-click="tab2 = !tab2" ><a href="">Barve, ki predstavljajo skladbo</a></li>
          <li ng-class="{'active' : tab3, 'non-active': !tab3}" ng-click="tab3 = !tab3"><a href="">Izražena razpoloženja v skladbi</a></li>
          <li ng-class="{'active' : tab4, 'non-active': !tab4}" ng-click="tab4 = !tab4"><a href="">Razpoloženja, ki jih skladba vzbudi</a></li>
        </ul>
        

        <div class="row" >
            <div class="col-md-12 margin-top-15" ng-if="tab0">
                <audio controls >
                    <source src="" type="audio/mpeg">
                </audio>          
            </div>
            <div class="col-md-12 margin-top-15" ng-if="tab1">
                <nvd3 options="ampLineGraph" data="amplitudeData" class="margin-padding-none"></nvd3>
            </div>
            <div class="col-md-12 text-center margin-padding-none" ng-if="tab2">
                <!--<h3 class="margin-bottom-40">Barva ki najbolje predstavlja glasbo</h3> -->
                <nvd3 options="coloGraph" data="colorData" class="margin-padding-none"></nvd3>            
            </div>
            <div class="col-md-6 text-center margin-top-15" ng-if="tab3">
                <!--<h3 class="margin-bottom-40">Izražena razpoloženja v glasbi</h3> -->
                <nvd3 options="viCustvaGraph" data="izrazenaData" class="margin-padding-none"></nvd3>
            </div>
            <div class="col-md-6 text-center margin-top-15" ng-if="tab4">
                <!--<h3 class="margin-bottom-40">Razpolozenja, ki jih glasba vzbudi</h3> -->
                <nvd3 options="viCustvaGraph" data="vzbujenaData" class="margin-padding-none"></nvd3>            
            </div>
            
        </div>
    </div>
</div>