
<div class="row">
    <div class="col-md-4 text-center">
        <h3 class="margin-bottom-40"> Spol </h3>
        <nvd3 options="optionsGender" data="dataGender"></nvd3>
    </div>
    <div class="col-md-4 text-center">
        <h3 class="margin-bottom-40"> Starost </h3>
        <nvd3 options="optionsAge" data="dataAge"></nvd3>
    </div>
    <div class="col-md-4 text-center">
        <h3 class="margin-bottom-40"> Kraj bivanja </h3>
        <nvd3 options="optionsPlace" data="dataPlace"></nvd3>
    </div>
</div>

